<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=gb2312">
<title>皓月营销后台管理系统</title>
<meta name="viewport" content="width=device-width, initial-scale=1">
<script type="application/x-javascript"> addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false); function hideURLbar(){ window.scrollTo(0,1); } </script>
<meta name="keywords" content="Flat Dark Web Login Form Responsive Templates, Iphone Widget Template, Smartphone login forms,Login form, Widget Template, Responsive Templates, a Ipad 404 Templates, Flat Responsive Templates" />
<link href="static/css/style.css" rel='stylesheet' type='text/css' />
<!--webfonts-->
<link href='http://fonts.useso.com/css?family=PT+Sans:400,700,400italic,700italic|Oswald:400,300,700' rel='stylesheet' type='text/css'>
<link href='http://fonts.useso.com/css?family=Exo+2' rel='stylesheet' type='text/css'>
<!--//webfonts-->
<script src="http://ajax.useso.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
</head>
<body>
<script>$(document).ready(function(c) {
	$('.close').on('click', function(c){
		$('.login-form').fadeOut('slow', function(c){
	  		$('.login-form').remove();
		});
	});	  
});
</script>

 <!--SIGN UP-->
 <h1>皓月营销后台管理系统</h1>

<form action="/login" method="post">
<div class="login-form">
	<div class="close"> </div>
		<div class="head-info">
			<label class="lbl-1"> </label>
			<label class="lbl-2"> </label>
			<label class="lbl-3"> </label>
		</div>
	<div class="clear"> </div>
		<input type="hidden" name="isAjax" value="0"/>
			<div class="avtar">
				<img src="static/images/avtar.png" />
			</div>
					<input type="text"  name="username"  placeholder="请输入用户名" required autofocus />
					<div class="key">
					<input type="password" name="password"  placeholder="请输入密码" required autofocus />
					</div>
	<!-- <div class="signin"> -->
		<input  class="singin" type="submit" value="登录" >
	<!-- </div> -->
</div>
</form>

 <div class="copy-rights">
		<p>Copyright &copy; 2015.Company name All rights reserved.More Templates <a href="http://www.ihaoyue.com//" target="_blank" title="皓月科技">皓月科技</a></p>
			</div>
</body>
</html>