<!DOCTYPE html>
<html>
<head>
	<title>皓月交易系统</title>
	{{template "/common/html_head.html"}}
	<link rel="stylesheet" type="text/css" href="/static/css/ztree/metroStyle/metroStyle.css">
	<!-- <script src="/static/js/ztree/jquery-1.4.4.min.js"></script> -->
	<script src="/static/js/ztree/jquery.ztree.all.min.js"></script>
	<script src="/static/js/ztree/jquery.ztree.core.js"></script>
	<script src="/static/js/ztree/jquery.ztree.excheck.js"></script>
</head>
<body class="no-skin">
	<div class="main-container" id="main-container">
		<div class="main-content">
			<div class="page-content">
				<div class="page-content-area">
					<div class="page-header">
						<h1> 用户管理 <small> 修改用户 </small> </h1>
					</div>
				</div>
				<div class="row" align="center">
					<form class="form-horizontal" style="margin-top:30px;" method="post" action="../user/edit">
						<div class="form-group">
							<label class="col-sm-4 control-label" for="form-field-1">用户名称：</label>
							<div class="col-sm-4">
								<input type="hidden" name="isAction" value="0"/>
								<input type="hidden" class="form-control" id="Id" name="Id" value="{{.user.Id}}" />
								<input type="text" class="form-control" id="Username" name="Username" 
									value="{{.user.Username}}" />
							</div>
						</div>
						<div class="form-group">
							<label class="col-sm-4 control-label" for="form-field-1">用户代码：</label>
							<div class="col-sm-4">
								<input type="text" class="form-control" id="Usercode" name="Usercode" value="{{.user.Usercode}}" 
									placeholder="请输入用户代码" required autofocus/>
							</div>
						</div>
						<div class="form-group">
							<label class="col-sm-4 control-label" for="form-field-2">角色名称：</label>
							<div class="col-sm-3">
								<input type="hidden" name="Rid" value="{{.user.Rid}}" id="Rid" >
								<select id="selectRole" name="selectRole">
										<option style="width:500px" selected="selected">{{.RoleName}}</option>
										{{range $k,$v := .RoleNameList}}
										<option style="width:500px">{{$v}}</option>
										{{end}}
								</select>
							</div>
						</div>
						<div class="form-group">
							<label class="col-sm-4 control-label" for="form-field-1">用户密码：</label>
							<div class="col-sm-4">
								<input type="password" class="form-control" id="Pwd" value="" name="Pwd" 
									placeholder="请输入密码"  />
							</div>
						</div>
						<div class="form-group">
							<label class="col-sm-4 control-label" for="form-field-2">用户状态：</label>
							<div class="col-sm-4">
								{{if eq .user.Status 0}}
								<label class="col-sm-3">
									<input name="form-field-radio" type="radio" name="Stastus" value="{{.user.Status}}" checked><span class="lbl"> 启用 </span>
								</label>
								<label class="col-sm-3">
									<input name="form-field-radio" type="radio" name="Stastus" value="{{.user.Status}}"><span class="lbl"> 禁用 </span>
								</label>
								<label class="col-sm-3">
									<input name="form-field-radio" type="radio" name="Stastus" value="{{.user.Status}}"><span class="lbl"> 其他 </span>
								</label>
								{{end}}
								{{if eq .user.Status 1}}
								<label class="col-sm-2">
									<input name="form-field-radio" type="radio" name="Stastus" value="{{.user.Status}}"><span class="lbl"> 启用 </span>
								</label>
								<label class="col-sm-2">
									<input name="form-field-radio" type="radio" name="Stastus" value="{{.user.Status}}" checked><span class="lbl"> 禁用 </span>
								</label>
								<label class="col-sm-2">
									<input name="form-field-radio" type="radio" name="Stastus" value="{{.user.Status}}"><span class="lbl"> 其他 </span>
								</label>
								{{end}}
								{{if eq .user.Status 3}}
								<label class="col-sm-2">
									<input name="form-field-radio" type="radio" name="Stastus" value="{{.user.Status}}"><span class="lbl"> 启用 </span>
								</label>
								<label class="col-sm-2">
									<input name="form-field-radio" type="radio" name="Stastus" value="{{.user.Status}}"><span class="lbl"> 禁用 </span>
								</label>
								<label class="col-sm-2">
									<input name="form-field-radio" type="radio" name="Stastus" value="{{.user.Status}}" checked><span class="lbl"> 其他 </span>
								</label>
								{{end}}
							</div>
						</div>
						<div class="form-group">
							<label class="col-sm-4 control-label" for="form-field-2">备注：</label>
							<div class="col-sm-4">
								<textarea class="form-control" rows="3" style="resize:none;" placeholder="请输入备注" name="Remark">{{.user.Remark}}</textarea>
							</div>
						</div>
						<div class="form-group">
							<input class="btn btn-info" type="submit" value="修改" />
							<input class="btn" type="reset" value="重置"/>
						</div>
		
					</form>
				</div>
			</div>
		</div>
		<div class="modal fade" id="myModal">  
		    <div class="modal-dialog" >  
		        <div class="modal-content">  
		            <div class="modal-header">  
		                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
		                <h4 class="modal-title" id="NoPermissionModalLabel">更改角色</h4>  
		            </div>  
					<div class="modal-body" style="height: 500px;"> 
						<ul id="treeDemo" class="ztree"></ul>
					</div>  
					<div class="modal-footer">
						<button class="btn btn-info" type="button" onclick="save();">    保  存    </button>  
						<button class="btn btn-info" type="button" data-dismiss="modal">    关  闭    </button>  
					</div>  
		        </div>  
		    </div>  
		</div>
	</body>

	<!-- <script type="text/javascript">
		    function choose() {
		        $('#myModal').modal('show');
				var setting = {  
			        view: {  
			            selectedMulti: false        //多点选中  
			        }, 
			        check: {
			            enable: true,
			            nocheck: true,
			            chkStyle: "radio",
			            radioType: "all"
			        },
			        data: {  
			            simpleData: {  
			                enable:true,  
			                idKey: "Id",  
			                pIdKey: "Fid"
			            },
			            key: {
							name: "Name"
						}
			        },
			        callback: {
			            onCheck: function(e, treeId, treeNode) {
		            		var Rid = treeNode.Id;
		            		var roleName = treeNode.Name;
		            		document.getElementById("Rid").value = Rid;
		            		document.getElementById("roleName").innerHTML = roleName;
			        	}
			        }
				};
				var zNodes = {{.json}};
				$(document).ready(function () {
					$.fn.zTree.init($("#treeDemo"), setting, zNodes);
				});
		    }
		    function save(){
				$('#myModal').modal('hide');
		    }

		    function resetValue(){
		    	document.getElementById("orgName").innerHTML = "角色名称";
		    }
		</script> -->
</html>