<div id="sidebar" class="sidebar responsive">
	<ul class="nav nav-list">
		<li>
			<a href="/index">
				<i class="menu-icon fa fa-home"></i>
				<span class="menu-text"> 主页 </span>
			</a>
			<b class="arrow"></b>
		</li>
		{{range .tree}}
			<li>
				<a href="#" class="dropdown-toggle">
					<i class="{{.Ico}}"></i>
					<span class="menu-text"> {{.Reskey}} </span>
					<b class="arrow fa fa-angle-down"></b>
				</a>
				<ul class="submenu">
					{{range .Children}}
						{{if eq true .TwoLevel}}
							<li>
								<a href="#" class="dropdown-toggle">
									<span class="menu-text"> {{.Reskey}} </span>
									<b class="arrow fa fa-angle-down"></b>
								</a>
								<ul class="submenu">
									{{range .Children}}
										<li>
											<a href="{{.Url}}" target="mainFrame">
												<i class="fa fa-angle-double-right"></i>
												{{.Reskey}}
											</a>
										</li>
									{{end}}
								</ul>
							</li>
							{{else}}
								<li>
									<a href="{{.Url}}" target="mainFrame">
										{{.Reskey}}
									</a>
								</li>
						{{end}}
					{{end}}
				</ul>
			</li>
		{{end}}
	</ul>
</div>