
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
	<meta charset="utf-8" />
	<meta name="description" content="overview &amp; stats" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0" />

	<!-- CSS begin -->
	<link rel="stylesheet" href="/static/css/bootstrap.min.css" />
	<link rel="stylesheet" href="/static/css/font-awesome.min.css" />
	<link rel="stylesheet" href="/static/css/ace-fonts.css" />
	<link rel="stylesheet" href="/static/css/ace.min.css" id="main-ace-style" />

	<link rel="stylesheet" href="/static/css/ace-part2.min.css" />
	<link rel="stylesheet" href="/static/css/ace-skins.min.css" />
	<link rel="stylesheet" href="/static/css/ace-rtl.min.css" />

	<link rel="stylesheet" href="/static/css/ace-ie.min.css" />

	<link rel="stylesheet" href="/static/css/ace.onpage-help.css" />
	<link rel="stylesheet" href="/static/docs/assets/js/themes/sunburst.css" />

	<!-- JS  begin -->
	<script src="/static/js/jquery.min.js"></script>
	<script src="/static/js/ace-extra.min.js"></script>
	<script src="/static/js/bootstrap.min.js"></script>
	<script src="/static/js/jquery-ui.custom.min.js"></script>
	<script src="/static/js/jquery.ui.touch-punch.min.js"></script>
	<script src="/static/js/jquery.easypiechart.min.js"></script>
	<script src="/static/js/jquery.sparkline.min.js"></script>
	<script src="/static/js/flot/jquery.flot.min.js"></script>
	<script src="/static/js/flot/jquery.flot.pie.min.js"></script>
	<script src="/static/js/flot/jquery.flot.resize.min.js"></script>
	<script src="/static/js/bootstrap.min.js"></script>
	<script src="/static/js/html5shiv.min.js"></script>
	<script src="/static/js/respond.min.js"></script>
	<!-- page specific plugin scripts -->
	
	<!-- ace scripts -->
	<script src="/static/js/ace-elements.min.js"></script>
	<script src="/static/js/ace.min.js"></script>
	<script src="/static/js/ace/elements.onpage-help.js"></script>
	<script src="/static/js/ace/ace.onpage-help.js"></script>
	<script src="/static/docs/assets/js/rainbow.js"></script>
	<script src="/static/docs/assets/js/language/generic.js"></script>
	<script src="/static/docs/assets/js/language/html.js"></script>
	<script src="/static/docs/assets/js/language/css.js"></script>
	<script src="/static/docs/assets/js/language/javascript.js"></script>
	<!-- JS  end -->
	<script type="text/javascript" language="javascript" src="/static/js/jquery.dataTables.min.js"></script>
	<script type="text/javascript" language="javascript" src="/static/js/dataTables.bootstrap.js"></script>
	<script type="text/javascript" language="javascript" src="/static/js/jquery.bootstrap.min.js"></script>

	<!-- <script type="text/javascript" language="javascript" src="/static/js/jquery.messager.js"></script> -->
